@model Edit

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="registration">Registration Number:</label>
                        <input type="text" class="form-control" id="registration" name="registration" asp-for="Vehicles.RegistrationNumber">
                    </div>
                    <div class="form-group">
                        <label for="private">Private Code:</label>
                        <input type="text" class="form-control" id="private" name="private" asp-for="Vehicles.PrivateCode">
                    </div>
                    <div class="form-group">
                        <label for="typeov">Type of Vehicle:</label>
                        <input type="text" class="form-control" id="typeov" name="typeov" asp-for="Vehicles.TypeOfVehicle">
                    </div>
                    <div class="form-group">
                        <label for="dates">Date Stamp:</label>
                        <input type="date" class="form-control" id="dates" name="dates" asp-for="Vehicles.DateStamp">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>